@import "../../assets/stusan/styles/variables.scss";

.icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s;
  margin-left: 5px;
  margin-bottom: 3px;
}
.iconMuted {
  height: 40px;
  width: 40px;
  background-color: #fd3f0b;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s;
  margin-left: 5px;
  color: white;
  margin-bottom: 3px;
}

.stusan-icon {
  // width: 22px;
  // height: 22px;
  // fill: #261362;
}

.video-preview {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;

  opacity: 0.2;
  z-index: -1;
}

.login {
  display: flex;
  font-size: 14px;
  height: 100%;
  line-height: 16px;
  flex-direction: column;

  &__main {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    max-width: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__logo {
    height: 52px;
    margin: 0 auto;
    width: 161px;
  }

  &__intro {
    font-weight: bold;
    margin-top: 35px;
  }

  &__meeting-start {
    font-weight: bold;
    margin-top: 41px;
  }

  &__form {
    text-align: left;
  }

  &__options {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 42px 0 32px 0;
  }

  &__option {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    line-height: 14px;
    width: 80px;
  }

  &__footer {
    align-self: flex-end;
    flex-grow: 0;
    padding: 11px 17px;
  }

  &__trembit-logo {
    width: 64px;
    height: 10px;
  }
}

.button--create-room {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  margin: 44px auto 0 auto;
}

.option-button {
  margin: 0 auto 3px auto;

  &--off {
    background-color: #fe724c;
    border: 1px solid #fe724c;
  }
}
