:root,
[data-theme="light"] {
  --background-color: #f5f4fc;
  --background-color-controls: #fff;
  --background-color-aside: #f2fbff;
  --text-color: #261362;
  // TODO: use different border-colors for dark mode
  --border-color: #f1f1f1;

  --primary-color: var(--text-color);
  --primary-color-hover: rgba(38, 19, 98, 0.8); // #261362

  --header-height: 69px;
  --controls-height: 79px;
  --side-menu-width: 341px;
}

[data-theme="dark"] {
  --background-color: #000;
  --background-color-controls: #272d2f;
  --background-color-aside: #1e2021;
  --text-color: #fff;
  --border-color: #272d2f;
}
