// @import "normalize.css";
@import "assets/stusan/styles/variables";
@import "assets/stusan/styles/fonts";
@import "assets/stusan/styles/form-elements";

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Scrolling styles
::-webkit-scrollbar {
  width: 10px; // For vertical scrollbars
  height: 10px; // For horizontal scrollbars
}
::-webkit-scrollbar-track {
  // Track
  background: transparent;
}
::-webkit-scrollbar-thumb {
  // Handle
  background: var(--primary-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  // Handle on hover
  background: var(--primary-color-hover);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
p {
  margin: 10px 0;
}

html {
  font-family: "Roboto", sans-serif;
  // Scrolling styles for Firefox
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
}
